:root {
  --dark-blue-1: #0e1e32;
  --dark-blue-2: #0b1828;
  --dark-blue-3: #08121d;

  --light-gray-1: #e5e5e5;
  --light-gray-2: #cecece;
  --light-gray-3: #b7b7b7;

  --white: #fff;

  --red-1: #c31815;
  --red-2: #a51411;
  --red-3: #94120f;

  --dark-green: #2a2a2a;

  --primary-color: var(--red-1);
  --primary-color-hover: var(--red-2);
  --primary-color-active: var(--red-3);
}
