@mixin clear {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.BtnWrapper {
  display: flex;
  align-items: center;
}

.IconWrapper {
  display: block;
  font-size: 0;
  line-height: 0;

  &:first-child:last-child {
    margin-left: auto;
    margin-right: auto;
  }
}

.BtnContent:not(:first-child:last-child) {
  margin-left: 10px;
}

.Button {
  @include clear;

  border: var(--border-size) solid;
  display: inline-block;
  transition: 0.15s ease background-color;
}

.Small {
  font: var(--font-s);
  font-weight: initial;
  padding: var(--padding-s);
}

.Medium {
  font: var(--font-m);
  font-weight: initial;
  padding: var(--padding-m);
}

.Large {
  font: var(--font-l);
  font-weight: initial;
  padding: var(--padding-l);
}

.Clear {
  @include clear;

  border-color: inherit;
}

.Primary {
  color: #fff;
  border-color: var(--primary-color);
  background-color: var(--primary-color);

  &:hover {
    border-color: var(--primary-color-hover);
    background-color: var(--primary-color-hover);
  }

  &:active {
    border-color: var(--primary-color-active);
    background-color: var(--primary-color-active);
  }
}

.Default {
  color: inherit;

  &:hover {
    background-color: var(--hover-bg-color);
  }

  &:active {
    background-color: var(--active-bg-color);
  }
}
